:root{
    --primary-color:#0d6efd;
}

.col-lg-8 .exercise-container {
    position: relative!important;

}
.exercise-container .more-options {
    position: absolute!important;
    right: 30px;
    top: 10px;
    z-index: 999;
}
.more-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.more-options:hover .dropdown-menu {
    display: block;  
}

.dropdown-item {
    display: block;
    padding: 0.25rem 1rem;
    color: #333;
}

.dropdown-item-edit:hover {
    background-color: #eee;
}
.dropdown-menu .dropdown-item-delete:hover {
    background-color: red!important;
    color: white;
}
#fr-logo{
    display:none;
}

.fr-second-toolbar .fr-counter {
    margin-left: 1rem;
}
.fr-popup.fr-desktop.fr-active{
    min-width: 300px;
}
#fr-table-colors-hex-layer-1.fr-popup .fr-input-line #fr-table-colors-hex-layer-text-1, .fr-action-buttons{
    width:80%!important;
}
#fr-table-colors-hex-layer-1{
    width:100%!important;
}
#fr-table-colors-hex-layer-1 .fr-input-line{
    width:80%;
}
.fr-active .fr-popup .fr-table-colors{
    padding-top:0px;
}
.fr-color-set.fr-table-colors .fr-svg{
    width:50px;
}
.modal-content table {
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
    width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
}

.modal-content th, .modal-content td {
    border: 1px solid black; /* Đường kẻ 1px đen */
    padding: 8px; /* Khoảng cách giữa nội dung và đường kẻ */
    width: auto;
}
.answerFormat{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
#originalAnswer .code-toolbar .language-markup  {
    background: #11192e;
    color: #f7f8fb;
    border-radius: 16px;
    box-shadow: inset 0 0 0 2px rgba(17,25,46,.1);
    display: block;
    margin: 1em 0;
    overflow: auto;
    overflow-wrap: normal;
    padding: 24px;
    white-space: normal;
    word-wrap: normal;
}
.card[data-status="inactive"] {
    opacity: 0.5;
    cursor: not-allowed;
}
.card[data-status='pending'] {
    opacity: 0.5;
    cursor: not-allowed;
}
.multi-carousel .carousel-control-prev i, .multi-carousel .carousel-control-next i{
    color:#fff;
    font-size: 30px;
}
.multi-carousel .carousel-control-prev{
    left:0px;
}
.multi-carousel .slide-control{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: #33333382;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.multi-carousel .carousel-control-next{
    right: 0;
}
.multi-carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
}

.multi-carousel-inner .multi-carousel-item{

    display: inline-block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    transition: margin 0.3s ease; 
    padding: 0 3px;
}
/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}
.whiteText#headerContainer .row {
    position: relative;
    z-index: 999;
}
.whiteText#headerContainer #navbarSupportedContent .nav-link,.whiteText#headerContainer .btn{
    color:#fff;
}

.spinner{
    /*   for centering div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*   spinner div css */
    height : 50px;
    width : 50px;
    border-radius : 50%;
    /*   background-color : red; */
    border : 10px solid #ccc;
    border-top-color : #007bff;
    animation : spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}
.statusGradeMark{
    object-fit: contain;
    width: 100%;
    height: 50px;
}
#arrowTransform::after{
    content: "";
    width: 65px;
    height: 65px;
    background-image: url("../img/arrowTransform.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}
@keyframes formFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.transitionEaseInOutFlex{
    transition: flex 0.15s ease-in-out;
}
.formFadeIn{
    animation: formFadeIn 0.3s forwards linear;
}
.formatBtn{
    min-width: 80px;
    height: fit-content;
}
#listStudentDone .activeBox{
    background-color: var(--primary-color);
    color:#fff;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    #arrowTransform::after{
        content: "";
        width: 80px;
        height: 80px;
        background-image: url("./Assets/img/arrowTransform.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        z-index: 999;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

}