<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchingClass</servlet-name>
        <servlet-class>Controller.SearchingClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDashBoard</servlet-name>
        <servlet-class>Controller.ShowDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsideClass</servlet-name>
        <servlet-class>Controller.InsideClass</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>showAnswerInTeacher</servlet-name>
        <servlet-class>Controller.showAnswerInTeacher</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>Controller.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowExcercise</servlet-name>
        <servlet-class>Controller.ShowExcercise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerQuestion</servlet-name>
        <servlet-class>Controller.AnswerQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchingClass</servlet-name>
        <url-pattern>/searchingclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDashBoard</servlet-name>
        <url-pattern>/showdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsideClass</servlet-name>
        <url-pattern>/insideClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAnswerInTeacher</servlet-name>
        <url-pattern>/excerciseView</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
      <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/createQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowExcercise</servlet-name>
        <url-pattern>/showExcercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerQuestion</servlet-name>
        <url-pattern>/answerquestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/errorPage404.jsp</location>
    </error-page>
</web-app>
